.card-styles {
  display: flex;
  justify-content: center;
}

.form-errors {
  position: absolute;
  top: 2;
  left: 20;
  font-size: 0.9rem;
  color: red;
  font-weight: 400;
  margin: 0;
  padding: 0 1rem;
}

.btn {
  transition: transform 0.4s ease !important
}

.btn:active {
  transform: scale(0.95);

}

.btn-logout {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  font-size: 1.4rem !important;
}

.nav-link.custom {
  color: rgb(4, 4, 204) !important;
}

.nav-link.custom:hover {
  color: rgb(51, 51, 255) !important;
}

.nav-link.disabled.custom {
  opacity: 0.4 !important;
}

.container-full-height {
  margin-top: 65px;
  height: calc(100vh - 65px); /* Ajusta 56px según la altura de tu barra de navegación */
  /* En este caso, 56px es una estimación de la altura de la barra de navegación, ajusta según sea necesario */
  overflow-y: auto; /* Añade desplazamiento vertical si el contenido excede la altura */
}