.card-styles {
  display: flex;
  justify-content: center;
}

.form-errors {
  position: absolute;
  top: 2;
  left: 20;
  font-size: 0.9rem;
  color: red;
  font-weight: 400;
  margin: 0;
  padding: 0 1rem;
}